# App variables
ENV=
APP_NAME=
NAME=
APP_VERSION=
APP_HOST=
APP_PORT=
APP_DEBUG=
DECRYPT_REQUEST_TIME_CHECK=
DOCKER_PORT=

# JWT Token variables
JWT_SECRET_KEY=
JWT_ALGORITHM=
ACCESS_TOKEN_EXP=
REFRESH_TOKEN_EXP=
COOKIES_DOMAIN=

# Database variables
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_HOST=
DATABASE_PORT=

# Redis variables
REDIS_URL=

# PGAdmin variables
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

# Key paths
PUBLIC_KEY_PATH=
PRIVATE_PUBLIC_KEY_PATH=
MASTER_ENUM_FILE_PATH=src/core/master_enums.json #This is the path to the master enum file
